{% extends 'base.html' %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
          xmlns="http://www.w3.org/1999/html">

</head>

{% block content %}
<body>
<div class="container mt-4">
    <h1 class="text-center mb-4">Bãi đỗ xe</h1>
    {% for parking_slot in parking_slots %}
    {% if forloop.counter0|divisibleby:3 %}
    <div class="row justify-content-around align-items-stretch mt-3">
        {% endif %}
        <div class="col-md-6 col-lg-4">
            <div class="card" data-slot-pk="{{ parking_slot.pk }}">
                <div class="card-header">
                    Vị trí {{ parking_slot.slot_number }}
                </div>
                <div class="card-body">
                    {% if not parking_slot.is_available %}
                    <div class="car-background">
                    <p><span class="badge badge-success">Đã đặt</span></p>
                    </div>
                    {% if user.is_admin %}
                    <div>
                        <!-- Thêm form thanh toán trực tiếp -->
                        <form method="post" action="{% url 'direct_payment_view' %}">
                            {% csrf_token %}
                            <input type="hidden" name="parking_slot_id" value="{{ parking_slot.id }}">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <span class="fa fa-check"> Thanh toán trực tiếp </span>
                            </button>
                        </form>
                    </div>
                    <div>
                        <!-- Thêm form thanh toán sau -->
                        <form method="post" action="{% url 'online_payment_view' %}">
                            {% csrf_token %}
                            <input type="hidden" name="parking_slot_id" value="{{ parking_slot.id }}">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <span class="fa fa-check"> Thanh toán sau </span>
                            </button>
                        </form>
                    </div>
                    {% endif %}

                    {% else %}
                    <p>Parking type: {{ parking_slot.get_parking_type_display }}</p>
                    <p>Cost per day: {{ parking_slot.cost_per_day }}</p>
                    <p><span class="badge badge-danger">Empty</span></p>
                    <button type="button" class="bs-modal reserve-slot btn btn-sm btn-primary"
                            data-form-url="{% url 'reserve_slot' %}"
                            data-slot-number="{{ parking_slot.slot_number }}">
                        <span class="fa fa-plus"> Đặt chỗ </span>
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reservationModalLabel">Đặt chỗ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Đặt chỗ tại bãi số
                    <strong> {{ parking_slot.slot_number }}</strong></p>
                <form method="post" action="{% url 'reserve_slot' %}">
                    {% csrf_token %}
                    <input type="hidden" name="slot_number" value="{{ parking_slot.slot_number }}">
                    <div class="form-group">
                        <label for="car">Chọn xe của bạn:</label>
                        <select class="form-control" id="car" name="car">
                            {% for car in cars %}
                            <option value="{{ car.id }}">{{ car.license_plate }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!--                    <div class="form-group">-->
                    <!--                        <label for="start_time">Thời gian bắt đầu:</label>-->
                    <!--                        <input type="datetime-local" class="form-control" id="start_time" name="start_time">-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group">-->
                    <!--                        <label for="end_time">Thời gian kết thúc:</label>-->
                    <!--                        <input type="datetime-local" class="form-control" id="end_time" name="end_time">-->
                    <!--                    </div>-->
                    <button type="submit" class="btn btn-primary">Đặt chỗ</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exitModal" tabindex="-1" role="dialog" aria-labelledby="exitModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exitModalLabel">Xe đi ra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Đặt chỗ tại bãi số
                    <strong> {{ parking_slot.slot_number }}</strong></p>
                <p>Thông tin khách hàng:</p>
                <p>Tên: <span id="customerName"></span></p>
                <p>Email: <span id="customerEmail"></span></p>
                <p>Số điện thoại: <span id="customerPhone"></span></p>
                <div class="payment-options">
                    <p>Chọn phương thức thanh toán:</p>
                    <button type="button" class="btn btn-primary direct-payment-btn">Thanh toán trực tiếp</button>
                    <button type="button" class="btn btn-primary transfer-payment-btn">Thanh toán chuyển khoản</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
            {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block extrascripts %}
<script>
$(document).ready(function () {
    $(".reserve-slot").each(function () {
        $(this).modalForm({ formURL: $(this).data("form-url") });
    });
     $(".reserve-slot").click(function () {
        var formURL = $(this).data("form-url");
        $("#reservationModal").modal("show");
        var slotNumber = $(this).data("slot-number"); // Lấy số slot từ button đặt chỗ
        $("#reservationModal strong").text(slotNumber); // Đặt giá trị số slot vào modal
        $("#reservationModal input[name=slot_number]").val(slotNumber); // Đặt giá trị số slot vào input của form
    });


    $(".exit-btn").click(function () {
        var parkingSlotPk = $(this).data("pk");
        $.ajax({
            url: "/get_customer_info/",
            type: "POST",
            data: { pk: parkingSlotPk },
            success: function (response) {

                var customer = response.customer;

                $("#customerName").text(customer.name);
                $("#customerEmail").text(customer.email);
                $("#customerPhone").text(customer.phone);

                $("#exitModal").modal("show");
            },
            error: function (error) {
            }
        });
    });




});



</script>

</body>
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $(".card").click(function () {
      var slotPk = $(this).data("slot-pk");
      $.ajax({
        url: "{% url 'get_parking_record' 0 %}".replace('0', slotPk),
        success: function (data) {
          console.log(data)
          if ('error' in data) {
            alert("Slot nay trong");
          } else {
            $.ajax({
              url: "{% url 'parking_record_detail' 0 %}".replace('0', data.parking_record_id),
              success: function (data) {
                $('#myModal .modal-content').html(data.html);
                $('#myModal').modal('show');
              }
            })
          }
        }
      });
    });
  });
</script>
{% endblock %}



